export RUC=TU_RUC
export USUARIO_SOL=TU_USUARIO_SOL
export CLAVE_SOL=TU_CLAVE_SOL
export REDIS_URL=redis://localhost:6379
export POOL_SIZE=2
export REFRESH_INTERVAL=3600000
export RETRY_INTERVAL=300000
export API_KEY=TU_API_KEY_SEGURA
